.container {
    background: rgb(242, 241, 241);
    height: 100vh;
    display: flex;
    align-items: flex-start;
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.container .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    align-items: center;
    padding: 30px;
    background: rgb(210, 186, 210,);
}

.container .header label {
    font-size: 22px;
}

.container .header input {
    font-size: 22px;
    background: white;
    outline: none;
    height: 45px;
}

.container .header button {
    font-size: 22px;
    background: #4f61ff;
    color: aliceblue;
    width: 150px;
    height: 40px;
}

.container .heroes {
    width: 100%;
    font-size: 20px;
    padding: 30px;
}

.container .heroes ul li {
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    transition: background 500ms ;
}

.container .heroes ul li:hover {
    background: rgb(176, 255, 176);
}

.container .card-hero {
    background: rgb(238, 205, 205);
    width: 400px;
    height: 250px;
    margin-left: 35px;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #515151;
}

.container .card-hero .photo {
    height: 80px;
    width: 80px;
}