<div class="container">
    <label for="lblHero"> Digite o nome do heroi </label>
    <div class="header">
    <input type="text" name="txtHero" id="" />
    <button> Add hero </button>
   </div>


    <div class="heroes">
        <ul>
            <li *ngFor="let hero of heroes"> {{ hero }} </li>
        </ul>
    </div>

    <div class="card-hero">
     <div class="titulo">
        <img src="cap.png" alt="" class="photo">
        <h2>{{hero.nome}}</h2>
    </div>
    <div class="content">Lorem ipsum dolor sit amet</div>
    </div>