<div class="container">
  <!-- <h1>Meu Projeto Angular Rodando...</h1>
  <br />

  <h3>Meu nome: Sara Ferreira da Silva</h3>
  <br />
  <h3>Minha Idade: 17</h3>
  <br />
  <h3>Meu aniversario: 13/02/2006</h3>
  <br />

  <img src="/assets/fotosara.jpeg" class="img" />

  <h3>{{ nome }}</h3>

  <div>
    <input type="button" vallue="-" (click)="menos()" />
    <h3>{{ count }}</h3>
    <input type="button" vallue="+" (click)="menos()" />
  </div> -->
  <app-hero> </app-hero>
</div>
