<div class="container">
  <form action="#">
    <div class="form-group">
      <label for="txtNome"> Task </label>
      <input
        type="text"
        name="txtNome"
        id="txtNome"
        placeholder="Digite o nome da tarefa"
        [formControl]="nome"
      >

      <label for="txtDesc"> Descrição </label>
      <input
        type="text"
        name="txtDesc"
        id="txtDesc"
        placeholder="Digite a descrição da tarefa"
      />

      <label for="txtResp"> Responsavel </label>
      <input
        type="text"
        name="txtResp"
        id="txtResp"
        placeholder="Digite o responsavel da tarefa"
      />

      <label for="txtInicio"> Data de Inicio </label>
      <input type="date" name="txtInicio" id="txtInicio" />

      <label for="txtFim"> Data de Termino </label>
      <input type="date" name="txtFim" id="txtFim" />

      <div class="button2"></div>

      <div class="button">
        <button> Cancelar </button>
        <button> Cadastrar </button>
      </div>
    </div>
  </form>
</div>
