<div class="container">
  <!-- HEADER 1 -->
  <div class="header1">
    <h2>dashboard</h2>
    <i class="bx bx-menu"></i>
  </div>

  <!-- HEADER 2 -->
  <div class="header2">
    <div class="box-esq">
      <i class="bx bxs-bell"></i>
      <i class="bx bx-envelope"></i>
      <i class="bx bxs-cog"></i>
    </div>
    <div class="box-dir">
      <i class="bx bx-search"></i>
      <i class="bx bxs-rocket"></i>
    </div>
  </div>

  <!-- User Information -->
  <div class="user-info">

    <div class="box-1">
      <i class="bx bx-bell"></i>
      <i class="bx bx-cog"></i>
      <i class="bx bxs-user-circle"></i>
    </div>

    <div class="box-2">
      <div class="img">
        <img src="/assets/avatar1.png" alt="" />
      </div>
      <h3>Sara Silva</h3>
      <h5>ferreiradasilvasara1302@gmail.com</h5>
    </div>

    <div class="box-3"> 

      <div class="box">
        <div class="item-1">
          <div class="troph">
            <i class='bx bx-trophy' ></i>
          </div>
          <div>
            <h4>20</h4>
            <h4>Número 20</h4>
          </div>
        </div>
        <div class="item-2">
          <div class="troph">
            <i class='bx bx-user' ></i>
          </div>
          <div>
            <h4>40</h4>
            <h4>Número 40</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="box-4">
      <div class="user-title">
        <h2> Tarefas em Andamento </h2>
        <a href="#"> Mostrar Todos</a>
      </div>

      <div class="task-1">
        <div> 
          <span> 01 </span> 
        </div>

        <div> 
          <h3> Programar o todo list</h3>
          <h4> Tempo Restante: 1 dia </h4>
        </div>
      </div>
      <div class="task-2">
        <div> 
          <span> 02 </span> 
        </div>
        
        <div> 
          <h3> Corrigir o Index.css</h3>
          <h4> Tempo Restante: 3 dias </h4>
        </div>
      </div>

    </div>

    <div class="box-5">
      <div class="user-title">
        <h2> Tarefas Recentes </h2>
        <a href="#"> Mostrar Todos</a>
      </div>

      <div class="recente-task">
        <div class="status">
          <div class="ball"></div>
          <span> Adicionar Botão em Task </span>
        </div>

        <div> 
          <span> 4 dias</span>
        </div>

      </div>

      <div class="recente-task">
        <div class="status">
          <div class="ball"></div>
          <span> Adicionar Botão em Task </span>
        </div>

        <div> 
          <span> 4 dias</span>
        </div>

      </div>

      <div class="recente-task">
        <div class="status">
          <div class="ball"></div>
          <span> Adicionar Botão em Task </span>
        </div>

        <div> 
          <span> 4 dias</span>
        </div>

      </div>

      <div class="recente-task">
        <div class="status">
          <div class="ball"></div>
          <span> Adicionar Botão em Task </span>
        </div>

        <div> 
          <span> 4 dias</span>
        </div>

      </div>

      <div class="recente-task">
        <div class="status">
          <div class="ball"></div>
          <span> Adicionar Botão em Task </span>
        </div>

        <div> 
          <span> 4 dias</span>
        </div>

      </div>

    </div>

  </div>

  <!-- MENU -->
  <div class="menu">
    <ul>
      <li>
        <a href="#"> <i class="bx bxs-dashboard"></i>Dashboard</a>
      </li>

      <li>
        <a href="#"><i class="bx bxs-analyse"></i>Análise</a>
      </li>
      <li>
        <a href="#"><i class="bx bx-task"></i>Todo List</a>
      </li>
      <li>
        <a href="#"> <i class="bx bxs-group"></i>Equipe</a>
      </li>
      <li>
        <a href="#"><i class="bx bxs-group"></i>Inbox</a>
      </li>
      <li>
        <a href="#"><i class="bx bxs-star"></i>Prioridades</a>
      </li>
    </ul>
  </div>
  <!-- CONTENT -->
  <div class="content">
    <div class="ad">
      <div class="img">Imagem</div>
      <div class="graph">Gráfico</div>
    </div>

    <section>
      <div class="box1">
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span>Membros do Time</span>
        </div>

        <div class="member">
          <!-- CARD MEMBER -->
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Bruna</h3>
              <h4>Professora</h4>
            </div>
          </div>
          <!-- FIM CARD MEMBER -->
          <!-- CARD MEMBER -->
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Eva</h3>
              <h4>Professora</h4>
            </div>
          </div>
          <!-- FIM CARD MEMBER -->
          <!-- CARD MEMBER -->
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar2.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Beto</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <!-- FIM CARD MEMBER -->
          <!-- CARD MEMBER -->
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar2.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Habib</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <!-- FIM CARD MEMBER -->
          <!-- CARD MEMBER -->
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar2.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Evandro</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <!-- FIM CARD MEMBER -->
          <!-- CARD MEMBER -->
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar2.png" alt="" />
            </div>

            <div class="name">
              <h3>Prof. Gilmar</h3>
              <h4>Professor</h4>
            </div>
          </div>
          <!-- FIM CARD MEMBER -->
        </div>

        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span>Atividade</span>
        </div>

        <div class="activity">
          <div class="item-1">
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar1.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Simone</h3>
                <h4>Professora</h4>
                <h5>11 maio 2023</h5>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
          </div>
          <div class="item-2">
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar2.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Guilherme</h3>
                <h4>Professor</h4>
                <h5>11 maio 2023</h5>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
          </div>
          <div class="item-3">
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar1.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Bruna</h3>
                <h4>Professora</h4>
                <h5>11 maio 2023</h5>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
          </div>
          <div class="item-4">
            <!-- CARD MEMBER -->
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar2.png" alt="" />
              </div>

              <div class="name">
                <h3>Prof. Beto</h3>
                <h4>Professor</h4>
                <h5>11 maio 2023</h5>
              </div>
            </div>
            <!-- FIM CARD MEMBER -->
          </div>
        </div>
      </div>
      <div class="box2">
        <div class="title">
          <button (click)="addTask()">
            <i class="bx bx-plus"></i>
          </button>
          <span>Adicionar nova tarefa</span>
        </div>
      </div>
    </section>
  </div>
</div>