@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
}

.menu{
    background: #FFF;
    border:  1px solid black;   
}

.menu ul {
    margin-top: 20px;
    margin-left: 30px;
}

.menu li {
    padding: 15px;
    list-style: none;
}

.menu li a{
   text-decoration: none;
   font-size: 22px;
   color: #696969;
}

.content{
    background: #f0f0f0;
    border:  1px solid black;
}

.content .overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 20px;

}

.content .overview .box-dir {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.today {
    width: 80px;
    height: 30px;
    background: #d0d0d0;
    border-radius: 10px;
    text-align: center;
    color: #afafaf;
    padding: 4px;
}

.month {
    width: 80px;
    height: 30px;
    background: #d0d0d0;
    border-radius: 10px;
    text-align: center;
    color: #afafaf;
    padding: 4px;
}

.year {
    width: 80px;
    height: 30px;
    background: #d0d0d0;
    border-radius: 10px;
    text-align: center;
    color: #afafaf;
    padding: 4px;
}

button {
    border: 2px solid #3e87f0;
    width: 100px;
    height: 35px;
    box-shadow: 1px 1px #afafaf;
}

.header1 {
    background: #4c7ceb;
    border: 1px solid black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header1 i {
    font-size: 30px;
}

.header1 h2 {
    font-weight: 400;
}

.header2 {
   background: #FFF;
   border: 1px solid black;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   padding: 23px;
}

.header2 i {
    font-size: 23px;
    color: #afafaf; 
    margin: 10px;
}

.header2 .box-dir {
    display: flex;
    justify-content: end;
}

