<div class="container">
  <div class="header1">
    <h2>Dashboard</h2>
    <i class="bx bx-menu"></i>
  </div>

  <div class="header2">
    <div class="box-esq">
      <i class="bx bxs-bell"></i>
      <i class="bx bxs-envelope"></i>
      <i class="bx bxs-cog"></i>
    </div>
    <div class="box-dir">
      <i class="bx bx-search"></i>
      <i class="bx bxs-rocket"></i>
    </div>
  </div>

  <div class="menu">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">charts</a></li>
      <li><a href="#">Tables</a></li>
      <li><a href="#">Forms</a></li>
      <li><a href="#">UI elements</a></li>
    </ul>
  </div>

  <div class="content">
    <div class="overview">
      <div class="box-esq">
        <h2>Overview</h2>
        <i class='bx bx-chevron-right'></i>
      </div>
      <div class="box-dir">
        <div class="today">today</div>
        <div class="month">month</div>
        <div class="year">year</div>
        <button> Log out </button>
      </div>
    </div>
    <div class="cards"></div>
  </div>
</div>
