@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    box-shadow: 0 0 20px 10px #d6d1d1;
    border-radius: 20px;
}

.menu{
    background: #F7F8FA;
    /* border:  1px solid black;    */
}

.menu ul {
    margin-top: 20px;
    margin-left: 10px;
}

.menu li {
    padding: 18px;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li:hover, 
.menu li a:hover {
    color: #7b55e6;
}

.menu li a{
   text-decoration: none;
   font-size: 22px;
   color: #494545; 
   margin-left: 15px; 
}

.menu li i{
 font-size: 22px;
 color: #c5c5c5;
}    

.content .ad {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 180px;
    margin: 30px;
    gap: 20px;
}

.content .ad .img {
    background: #fbe5ca;
}

.content .ad .graph {
    background: #f0edfe;
}

.content .overview .box-dir {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.header1 {
    background: #4c7ceb;
    /* border: 1px solid black; */
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header1 i {
    font-size: 30px;
}

.header1 h2 {
    font-weight: 400;
}

.header2 {
   background: #FFF;
   /* border: 1px solid black; */
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   padding: 23px;
}

.header2 i {
    font-size: 23px;
    color: #afafaf; 
    margin: 10px;
}

.header2 .box-dir {
    display: flex;
    justify-content: end;
}

section {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 500px;
    margin: 30px;
    gap: 20px;
}

section .box2 {
    background: #7da4ff;
}

.title {
    background: #e4f7f0;
    height: 60px;
    display: flex;
    align-items: center;   
    padding: 5px 25px; 
    border-radius: 5px;
}

.title button {
    background: #40c17d;
    color: #FFF;
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.title span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}