<div class="container">
  <div class="header1">
    <h2>Dashboard</h2>
    <i class="bx bx-menu"></i>
  </div>

  <div class="header2">
    <div class="box-esq">
      <i class="bx bxs-bell"></i>
      <i class="bx bxs-envelope"></i>
      <i class="bx bxs-cog"></i>
    </div>
    <div class="box-dir">
      <i class="bx bx-search"></i>
      <i class="bx bxs-rocket"></i>
    </div>
  </div>

  <div class="user-info">xxx</div>

  <div class="menu">
    <ul>
      <li><i class="bx bxs-dashboard"></i> <a href="#"> Dashboard </a></li>
      <li>
        <i class="bx bxs-analyse bx-rotate-90"></i> <a href="#">Analise</a>
      </li>
      <li><i class="bx bx-task"></i><a href="#">Todo List</a></li>
      <li><i class="bx bxs-group"></i><a href="#">Equipe</a></li>
      <li><i class="bx bxs-chat"></i><a href="#">Inbox</a></li>
      <li><i class="bx bxs-star"></i><a href="#">Prioridades</a></li>
    </ul>
  </div>

  <div class="content">
    <div class="ad">
      <div class="img">Imagem</div>
      <div class="graph">grafico</div>
    </div>

    <section>
      <div class="box1">
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span> Membros do Time </span>
        </div>
        <div class="member">
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>
            <div class="name">
              <h3>Sara Silva</h3>
              <h4>Aluna</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>
            <div class="name">
              <h3>Sara Silva</h3>
              <h4>Aluna</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>
            <div class="name">
              <h3>Sara Silva</h3>
              <h4>Aluna</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>
            <div class="name">
              <h3>Sara Silva</h3>
              <h4>Aluna</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>
            <div class="name">
              <h3>Sara Silva</h3>
              <h4>Aluna</h4>
            </div>
          </div>
          <div class="card-member">
            <div class="img">
              <img src="/assets/avatar1.png" alt="" />
            </div>
            <div class="name">
              <h3>Sara Silva</h3>
              <h4>Aluna</h4>
            </div>
          </div>
        </div>
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span> Atividades </span>
        </div>

        <div class="atividade">
          <div class="item-1">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar1.png" alt="" />
              </div>
              <div class="name">
                <h3>Sara Silva</h3>
                <h4>Aluna</h4>
                <h5>11 de maio de 2023</h5>
              </div>
            </div>
          </div>
          <div class="item-2">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar1.png" alt="" />
              </div>
              <div class="name">
                <h3>Sara Silva</h3>
                <h4>Aluna</h4>
                <h5>11 de maio de 2023</h5>
              </div>
            </div>
          </div>
          <div class="item-3">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar1.png" alt="" />
              </div>
              <div class="name">
                <h3>Sara Silva</h3>
                <h4>Aluna</h4>
                <h5>11 de maio de 2023</h5>
              </div>
            </div>
          </div>
          <div class="item-4">
            <div class="card-member">
              <div class="img">
                <img src="/assets/avatar1.png" alt="" />
              </div>
              <div class="name">
                <h3>Sara Silva</h3>
                <h4>Aluna</h4>
                <h5>11 de maio de 2023</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box2">
        <div class="title">
          <button>
            <i class="bx bx-plus"></i>
          </button>
          <span> Adicionar Nova Tarefa </span>
        </div>
      </div>
    </section>
  </div>
</div>
