<div class="container">
    <div class="login">
        <h2> Sing In </h2>

        <div class="input">
            <i class='bx bxs-envelope'></i>
            <input type="text" name="login" id="login" value="E-mail" />
        </div>

        <div class="input">
            <i class='bx bxs-lock'></i>
            <input type="text" name="password" id="password" value="Password"/>
            <i class='bx bxs-low-vision'></i>
        </div>

        <div class="remember">
            <div>
                <input type="checkbox" name="remember" id="remember" />
                <h4> Remember me</h4>
            </div>
            <h4> Forgot password? </h4>
        </div>

        <button> SING IN </button>

        <h3> Don't have an account? Create </h3>
        

    </div>
</div>